@mixin mdq($value) {
  @if $value < 0 {
    @media only screen and (min-width: $value * -1px) {
      @content;
    }
  }
  @if $value > 0 {
    @media only screen and (max-width: $value * 1px) {
      @content;
    }
  }
}

// Page width
@mixin page-width($page-width) {
  width: $page-width;
  margin: 0 auto;
}

/* Index */
@mixin z-index($p-value, $z-value) {
  position: $p-value;
  z-index: $z-value;
}
