.search-form {
  @include z-index(relative, 99);
  margin: 0 auto;
  display: none;
}

.show-form {
  display: block;
  width: 80%;
  animation: size-form 3s ease-in-out;
}

@keyframes size-form {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}

.map-search-field {
  width: 100%;
  background: rgba(255, 255, 255, .1);
  padding: 1.2rem;
  border: none;
  border-bottom: 1px solid $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  border-radius: .3rem;
  color: white;
  font-size: 1.2rem;
  outline: none;
  position: relative;
}

.PlaceHolder {
  color: white;
  font-style: italic;
  font-size: 1.2rem;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  display: none;

  &-form {
    display: block;
    animation: PlaceHolder 3s ease-in-out;
  }
}

@keyframes PlaceHolder {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-search {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: .63rem;
  background-image: url('../style/asset/close.svg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  transition: .3s;

  &:hover {
    opacity: .8;
    transition: .3s;
  }
}

.split {
  color: white;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}
